@import "tailwindcss";

@theme {
  --font-header: var(--font-montserrat-sans);
  --font-header-secondary: var(--font-oswald-sans);
  --font-sans: var(--font-inter-sans);
}

:root {
  --background: #0a0a0a;
  --foreground: #fafafa;
  --primary: #ff1616;

  --secondary: #1e1e1e;
  --muted-foreground: #8c8c8c;
  --card: #161616;
  --border: #2e2e2e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);

  --color-secondary: var(--secondary);
  --color-muted-foreground: var(--muted-foreground);
  --color-card: var(--card);
  --color-border: var(--border);
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
